# API & Serveur
fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic>=2.0
python-dotenv

# LLM & RAG
groq==0.9.0
faiss-cpu==1.12.0
sentence-transformers==3.0.1
rank-bm25==0.2.2

# Recherche & Traduction
ddgs
duckduckgo-search
lingua-language-detector
deep-translator

# NLP & Spacy
spacy>=3.7.2
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl

# Machine Learning & Vision
scikit-learn
joblib
xgboost
tensorflow==2.16.1
tf-keras
torch==2.3.0
Pillow
opencv-python-headless
google-genai
pytesseract

# Data
pandas
tqdm
huggingface_hub